<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                template="/WEB-INF/templates/layout.xhtml">

    <ui:define name="styles">
        <link href="#{request.contextPath}/css/inscricao.css" rel="stylesheet" type="text/css" />
    </ui:define>

    <ui:define name="metadata">
    </ui:define>

    <ui:define name="javascript">
    </ui:define>

    <ui:define name="content">
        <h:form>
        <h:dataTable border="1" value="#{inscricaoBean.candidatosListDataModel}" var="cand">
            <h:column>
                <f:facet name="header">
                    <h:outputText value="CPF" />
                </f:facet>
                <h:outputText id="cpf" value="#{cand.cpf}" converter="cpfConverter"/>
            </h:column>
            <h:column>
                <f:facet name="header">
                    <h:outputText value="Nome" />
                </f:facet>
                <h:commandLink action="#{inscricaoBean.candidatoAction}">
                    <h:outputText id="nome" value="#{cand.nome}"/>
                </h:commandLink>
            </h:column>
            <h:column>
                <f:facet name="header">
                    <h:outputText value="Cidade" />
                </f:facet>
                <h:outputText id="cidade" value="#{cand.cidade}"/>
            </h:column>
            <h:column>
                <f:facet name="header">
                    <h:outputText value="Estado" />
                </f:facet>
                <h:outputText id="estado" value="#{cand.estado}"/>
            </h:column>
            <h:column>
                <h:commandButton type="input" action="#{inscricaoBean.excluiAction}" value="Excluir"/>
            </h:column>
        </h:dataTable>
        </h:form>
    </ui:define>

</ui:composition>
